{{!-- If user is logged in --}}
{{#if user}}
<h2>Hello, {{ user.username }}!</h2>
<p>This is your profile page my friend!</p>
<img src="{{user.photo}}" alt="human"><br>
<button>
  <a href="/user-profile">Reload the page</a>
</button>
<a href="/user/{{user.id}}/edit">Edit</a>

<hr>

{{!-- DOG SECTION --}}
<form action="/create-dog" method="GET">
  <button>Create New Dog</button>
</form>

{{#each user.dogs}}
<div>
  <h3>{{name}}</h3>
  <a href="/dog/{{id}}">view dog</a>
  <form action="/dog/{{id}}/delete" method="POST">
    <button>Delete</button>
  </form>
  {{/each}}

  {{!-- If not logged in --}}
  {{else}}
  <p>Not logged in, sorry!</p>
  {{/if}}