{{#unless notPartial}}

{{!-- <nav class="d-flex align-items-center pt-3 px-3">

  <a href="/home" class="mr-auto w-auto p-1 mb-2 bd-highlight">
    <img alt="dog logo" src="/images/pack_dog_n_i.png" id="navBarlogo" width="60" height="60">
  </a>

  <ul class="d-flex align-items-center flex-row bd-highlight list-unstyled ms-auto">
    {{#if currentUser}}

    <li class="p-1 bd-highlight px-3">
      <form action="/logout" method="POST">
        <button class="btn btn-warning shadow rounded">Log Out</button>
      </form>
    </li>

    <li class="p-1 bd-highlight px-3">
      <a href='/user-profile/{{currentUser._id}}' class="shadow rounded">
        <img border="0" alt="user photo" src="{{currentUser.photo}}" width="40" height="40" class="shadow rounded">
      </a>
    </li>

    {{else}}

    <li class="p-1 bd-highlight px-3">
      <a href='/login' class="btn btn-warning shadow rounded" style="width: 100px;">Log in</a>
    </li>

    <li class="p-1 bd-highlight px-3">
      <a href='/signup' class="btn btn-warning shadow rounded" style="width: 100px;">Sign up</a>
    </li>


    {{/if}}

  </ul>


</nav>
{{/unless}} --}}
{{!--
<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a href="/home" class="navbar-brand mr-auto w-auto p-1 mb-2 bd-highlight">
      <img alt="dog logo" src="/images/pack_dog_n_i.png" id="navBarlogo" width="60" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
      aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">


        <a href="/home" type="button" class="nav-link">HOME</a>
        <a href="/home/dogs" type="button" class="nav-link">DOGS</a>
        <a href="/home/users" type="button" class="nav-link">HUMANS</a>

        <div class="ms-auto ">
          {{#if currentUser}}

          <form action="/logout" method="POST">
            <button class="nav-link btn btn-warning shadow rounded">Log Out</button>
          </form>
          <a href='/user-profile/{{currentUser._id}}' class="nav-link shadow rounded">
            <img border="0" alt="user photo" src="{{currentUser.photo}}" width="40" height="40" class="shadow rounded">
          </a>

          {{else}}

          <a href='/login' class="nav-link btn btn-warning shadow rounded" style="width: 100px;">Log in</a>
          <a href='/signup' class="nav-link btn btn-warning shadow rounded" style="width: 100px;">Sign up</a>

          {{/if}}
        </div>
      </div>
    </div>
  </div>
</nav>
{{/unless}}


--}}

<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <div class="container-fluid">
    <a class="navbar-brand" href="/home">
      <img alt="dog logo" src="/images/pack_dog_n_i.png" width="60" height="60">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText"
      aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/home">HOME</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/dogs">DOGS</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="/home/users">HUMANS</a>
        </li>
      </ul>
      <div class="navbar-nav">
        {{#if currentUser}}
        <form action="/logout" method="POST">
          <button class="nav-link btn btn-warning shadow rounded">Log Out</button>
        </form>
        <a href='/user-profile/{{currentUser._id}}' class="nav-link">
          <img border="0" alt="user photo" src="{{currentUser.photo}}" width="40" height="40" class="shadow rounded">
        </a>
        {{else}}
        <a href='/login' class="nav-link btn btn-warning shadow rounded" style="width: 100px;">Log in</a>
        <a href='/signup' class="nav-link btn btn-warning shadow rounded" style="width: 100px;">Sign up</a>
        {{/if}}
      </div>
    </div>
  </div>
</nav>
{{/unless}}