{{!-- PARK INFO --}}
<h2>{{park.name}}</h2>
<p>Location: {{park.location}}</p>
<p>Size: {{park.size}}</p>
<img src="{{park.photo}}" alt="park">
<p>Water: {{park.water}}</p>
<p>Play: {{park.playObj}}</p>
<p>Poop bags: {{park.poopBags}}</p>
<p>Cafe: {{park.cafe}}</p>
<p>Crowded: {{park.crowded}}</p>
<p>Ground: {{park.ground}}</p>
<p>Size: {{park.size}}</p>

<b>SCORE WILL BE HERE</b>
<b>ADD TO FAVORITE WILL BE HERE</b>
<hr>
{{!-- REVIEWS --}}
<div>
THE REVIEWS WILL BE HERE
</div>
<b>ADD COMMENTS WILL BE HERE</b>
<hr>
{{!-- MAP --}}
<div>
  THE MAP WILL BE HERE
</div>
<hr>
{{!-- DOGS --}}
<div>
  THE DOGS WILL BE HERE
</div>
<hr>
