<h2>{{park.name}}</h2>
<p>Location: {{park.location}}</p>
<p>Size: {{park.size}}</p>
<p>Photo: {{park.photo}}</p>
<p>Water: {{park.water}}</p>
<p>Play: {{park.playObj}}</p>
<p>Sterilized: {{park.sterilized}}</p>
<p>Poop bags: {{park.poopBags}}</p>
<p>Cafe: {{park.cafe}}</p>
<p>Crowded: {{park.crowded}}</p>
<p>Ground: {{park.ground}}</p>
<p>Size: {{park.size}}</p>