{{!-- HIDDEN INFO --}}
<p style="display: none" id="parkView">{{park.id}}</p>

{{!-- MAP --}}
<div id='map'></div>
<hr>

{{!-- PARK INFO --}}
<h2>{{park.name}}</h2>
<p>Size: {{park.size}}</p>
<img src="{{park.photo}}" alt="park">
<p>Water: {{park.water}}</p>
<p>Play: {{park.playObj}}</p>
<p>Poop bags: {{park.poopBags}}</p>
<p>Cafe: {{park.cafe}}</p>
<p>Crowded: {{park.crowded}}</p>
<p>Ground: {{park.ground}}</p>
<p>Size: {{park.size}}</p>

<b><p>Score: {{park.score}}</p></b>
<hr>
<form action="/parks/park/{{park.id}}/addFav" method="POST">
  <button type="submit">Add to favorite</button>
</form>
<hr>
{{!-- REVIEWS --}}
<div>
<h4>Reviews</h4>
{{#each reviews}}
<div>
  <h5>{{user_id.username}}</h5>
  <p>Score: {{score}}</p>
  <p>Content: {{content}}</p>
</div>
{{/each}}

<h4>Review park:</h4>
<form action="/parks/park/{{park.id}}" method="POST">
  <label for="input-score">Rating:</label>
  <input type="number" id="input-score" name="score"/>

  <label for="input-content">Review:</label>
  <input type="text" name="content" id="input-content"/>

  <button type="submit">Submit</button>
</form>
</div>
<hr>
{{!-- DOGS --}}
{{#each randomDogs}}
<div>
  <h5>{{name}}</h5>
</div>
{{/each}}
<hr>
