<div class="row">
  <div class="bg-white shadow rounded overflow-hidden">
    <div class="px-4 pt-0 pb-4 cover">
      <div class="media align-items-end profile-head">

        <div class="profile mr-3">

          <img src="{{user.photo}}" alt="human" width="600" height="auto" class="rounded mb-2 img-thumbnail">

          {{#if isUser}}
          <a href="/user/{{user.id}}/edit" class="btn btn-outline-dark btn-sm btn-block">Edit profile</a>
          <a href="/create-dog" class="btn btn-outline-dark btn-sm btn-block">Create New Dog</a>

          {{/if}}
        </div>

        <div class="media-body mb-5 text-white">
          <h4 class="mt-0 mb-0">{{ user.username }}</h4>
        </div>
        {{#each user.dogs}}
        <div>
          <h3>{{name}}</h3>
          <img src="{{photo}}" alt="dog" width="100" height="auto" class="rounded mb-2 img-thumbnail">
          <a href="/dog/{{id}}">view dog</a>
          {{/each}}
          <hr>

          {{#unless isUser}}
          <a href="/user-profile/{{user.id}}/chat">SCHEDULE PLAY DATE!</a>
          {{/unless}}
        </div>
      </div>
    </div>
  </div>