{{!-- DOG INFO --}}
<h2>woof woof mother fucker, im {{ dog.name }}!</h2>
<p>I`m a {{dog.age}} years old {{dog.breed}}</p>
<p>size: {{dog.size}}</p>
<p>sex: {{dog.sex}}</p>
<p>Human: {{dog.human.username}} {{dog.human.name}}</p>
<img src="{{dog.photo}}" alt="dog"><br>
{{#if isOwner}}
<b>Edit dog here</b>
{{/if}}
<hr>

{{!-- Human SECTION --}}
<a href="/user-profile/{{dog.human.id}}">{{dog.human.username}}</a>

{{!-- DOG FRIENDS SECTION --}}
{{#each dog.friends}}
<div>
  <h3>{{name}}</h3>
  <a href="/dog/{{id}}">view dog</a>
  {{/each}}
</div>
<hr>
{{!-- DELETE DOG --}}
{{#if isOwner}}
<form action="/dog/{{dog._id}}/delete" method="POST">
  <button>Delete</button>
</form>
{{/if}}

{{!-- ADD AS FRIEND SECTION --}}
{{#unless isOwner}}
<b>Add as friend will be here!</b>
{{/unless}}